<div class="panel panel-default">
  <div class="panel-heading">CATEGORIES</div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="nav navbar-nav side-nav">
        <% taxonomies.each do |taxonomy| %>
          <li>
            <a href="javascript:;" data-toggle="collapse" data-target="#category-<%= taxonomy.id %>"><%= taxonomy.name %><i class="fa fa-plus"></i></a>
            <ul id="category-<%= taxonomy.id %>" class="collapse collapseItem">
              <% taxonomy.root.children.each do |taxon| %>
                <% if taxon.children.present? %>
                  <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#category-<%= taxon.id %>"><i class="fa fa-caret-right" aria-hidden="true"></i><%= "#{taxon.name} (#{taxon.all_products.count})" %></a>
                    <ul id="category-<%= taxon.id %>" class="collapse collapseItem">
                      <% taxon.children.each do |child| %>
                        <li>
                          <%= link_to potepan_category_path(child.id) do %>
                            <%= "#{child.name} (#{child.all_products.count})" %>
                          <% end %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% else %>
                  <li>
                    <%= link_to potepan_category_path(taxon.id) do %>
                      <%= "#{taxon.name} (#{taxon.all_products.count})" %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>